
@{
    ViewBag.Title = "Details";
}

<script>
    function clickAlert() {
        if (checkAccountNum()) {

            var salary = "@ViewBag.EmpSalary";

            if (!salary) {
                salary = 0;
            }
            alert(salary + " amount will be tranfered!");
        }
    }
    function checkAccountNum() {
        debugger;
        var textVal = document.getElementById("AcntNum").value;
        if (!textVal.match(/\S/)) {
            alert("Please enter Account Number");
            return false;
        }
        else {
            return true;
        }
    }
</script>
<h2>Transfer Money</h2>

<div class="form-group">
   Employee : @ViewBag.EmployeeName
</div>
<div class="form-group">
    Salary : @ViewBag.EmpSalary
</div>
<div class="form-group">
@Html.DisplayName("Account Number")
    <br />
    <div class="col-md-10">
        @Html.Editor("Account Number", new { htmlAttributes = new { @class = "form-control", @id="AcntNum"} })
    </div>
</div>
<br/>
<input type="submit" onclick="clickAlert()" onblur="checkAccountNum()" value="Transfer" />

